body {
  font-family: 'Numans', sans-serif;
  background-color: #b0d740 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Numans', sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 20%;
  padding: 2px;
}

body .w3-yellow {
  background-color: black !important;
}

.pp {
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.unlocked {
  opacity: 0.4;
}

.badge-row {
  text-align: center;
  background-color: #ffea00;
  padding-top: 15px;
  padding-bottom: 15px;
}

.w3-bar-block a {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.lab {
  width: 800px;
  height: 500px;
  margin-left: 150px;
  border-radius: 25px;
  border: 5px solid #354013;
}

.tb {
  margin-left: 230px;
  color: white;
  font-size: bold;
  font-size: 18px;
}

.container-table {
  background-color: #5a6d20;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: -10px;
}

.container-heading {
  margin-bottom: 50px;
  background-color: #ffea00;
  margin-left: -10px;
}

.remote-btn {
  border: none;
}

.col span {
  color: #5e5b5b;
}

.col .fa-lira-sign {
  color: #5e5b5b;
}

.footer {
  background-color: #666666;
  color: black;
  font-size: 14px;
}