h4 {
  color: #5a6c20;
  font-family: 'Average', serif;
  font-weight: bold;
}

body {
  background-color: #CFEF2E;
  background-repeat: repeat;
}

h1 {
  text-align: center;
  font-family: 'Numans', sans-serif;
  font-size: 90px;
  color: #5a6c21;
  text-shadow: 2px 2px white;
  margin-top: 70px;
  margin-bottom: 70px;
  font-style: italic;
  font-weight: 500;
}

.side-color {
  font-family: 'Average', serif;
  background-color: #ffea00;
  border-color: #5a6c21;
  border-width: 5px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 30px;
  font-size: 16px;
}

.main-panel {
  font-family: 'Average', serif;
  color: #5a6c21 !important;
  font-weight: 600;
  font-size: 16px;
  margin-right: 90px;
}

.hr {
  width: 3050px;
  margin-bottom: 100px;
}

.btn {
  background-color: #748c25;
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
}

.id-search {
  border: 5px solid #5a6c21;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Average', serif;
  background-color: #ffea00;
}

.pad {
  width: 25px;
  height: 27px;
  background-color: #654321;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  display: block;
  position: absolute;
}

.large {
  width: 70px;
  height: 80px;
  transform: rotate(80deg);
  left: 100px;
  top: 50px;
}

.small-1 {
  transform: rotate(50deg);
  left: 145px;
  top: 28px;
}

.small-2 {
  transform: rotate(65deg);
  left: 174px;
  top: 50px;
}

.small-3 {
  transform: rotate(98deg);
  position: absolute;
  left: 178px;
  top: 87px;
}

.small-4 {
  transform: rotate(140deg);
  position: absolute;
  left: 158px;
  top: 117px;
}

/* position and animate */
.paw-print-1 {
  opacity: 0;
  position: absolute;
  left: -70px;
  top: 220px;
  transform: rotate(-10deg);
  -webkit-animation: walk 5s linear infinite;
  animation:
    /*keyframe*/
    walk
    /*duration*/
    5s
    /*transition*/
    linear
    /*repeat*/
    infinite;
}

.paw-print-2 {
  opacity: 0;
  position: absolute;
  left: 95px;
  top: 60px;
  transform: rotate(-5deg);
  -webkit-animation: walk 5s linear infinite 1.0s;
  animation: walk 5s linear infinite
    /*delay*/
    1.0s;
}

.paw-print-3 {
  opacity: 0;
  position: absolute;
  left: 375px;
  top: 165px;
  transform: rotate(-10deg);
  -webkit-animation: walk 5s linear infinite 2.0s;
  animation: walk 5s linear infinite 2.0s;
}

.paw-print-4 {
  opacity: 0;
  position: absolute;
  left: 1050px;
  top: 10px;
  transform: rotate(20deg);
  -webkit-animation: walk 5s linear infinite 3.0s;
  animation: walk 5s linear infinite 3.0s;
}

.paw-print-5 {
  opacity: 0;
  position: absolute;
  left: 1305px;
  top: 120px;
  transform: rotate(25deg);
  -webkit-animation: walk 5s linear infinite 4s;
  animation: walk 5s linear infinite 4s;
}

@-webkit-keyframes walk {
  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walk {

  /* appear */
  25% {
    opacity: 1;
  }

  /* disappear */
  100% {
    opacity: 0;
  }
}